body{
  background-color: #000;
}
.wrapper {
  height: 100vh;
  background-color: #000;
  background: url("../img/hogwarts.jpeg") -500px 0 / cover no-repeat;
  display: grid;
  grid-template-areas: "nav header" "nav main";
  grid-template-columns: minmax(300px, 20%) minmax(50%, 80%);
  grid-template-rows: 70px 1fr;
}
.header {
  padding: 0px 50px 0px 50px;
  grid-area: header;
  display: flex;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5032387955182073) 0%,
    rgba(0, 0, 0, 0.4640231092436975) 15%,
    rgba(0, 0, 0, 0.08867296918767509) 72%,
    rgba(0, 0, 0, 0) 100%
  );
}
.header__link {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.header__title {
  font-family: "Harry Potter", sans-serif;
  flex-grow: 1;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: rgb(166, 128, 32);
  letter-spacing: 4px;
}

.img__btn {
  height: 50px;
  width: 50px;
  transition: all linear 0.3s;
}
.img__btn:hover{
  height: 56px;
  width: 56px;
  transition: all linear 0.3s;
}
.nav {
  grid-area: nav;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}
.nav__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 100px 20px;
}
.nav__item {
  font-family: "Harry Potter", sans-serif;
  text-align: center;
}
.nav__link {
  color: rgb(166, 128, 32);
}
.nav__text {
  font-size: 26px;
  letter-spacing: 5px;
}
a.nav__link:hover .nav__text {
  font-size: 30px;
}
a.nav__link.active .nav__text {
  font-size: 30px;
  
  text-decoration:line-through;
}
nav.nav__full {
display: block;
position: absolute;
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(97,97,97,1) 100%);
height: 100%;
width: 100%;
}

.main {
  padding: 20px;
  grid-area: main;
  margin: auto auto;
  overflow: auto;
  height: 100%;
}
.main__article {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.main__img {
  margin: 0px 0px 50px 0px;
  width: 25%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-description,
.main__quote,
.main__author {
  font-family: "Bona Nova", serif;
  white-space: normal;
  color: rgb(233, 226, 226);
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.452);
  padding: 10px;
}
.main-description {
  border-radius: 10px 10px 10px 0px;
  text-align: justify;
  line-height: 24px;
}
.main__quote,
.main__author {
  width: 70%;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}
.main__author {
  border-radius: 0px 0px 10px 10px;
}
@media (max-width: 640px) {
  .header {
    height: 80px;
  }
  .main__article {
    width: 90%;
  }
  .main{
    padding: 5px;
  }
  .header__title {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    background-position: -1100px 0;
    grid-template-columns: 0 1fr;
  }
  .header__link {
    display: block;
  }
  .nav {
    display: none;
  }
}
